@font-face {
    src: url('./assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-family: 'Lato';
    font-style: normal;
}

@font-face {
    src: url('./assets/fonts/Lato/Lato-Black.ttf') format('truetype');
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
}

@font-face {
    src: url('./assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
}

@font-face {
    src: url('./assets/fonts/Lato/Lato-Light.ttf') format('truetype');
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
}

.page {
    width: 100%;
    margin: 0 auto;
    color: #666d89;
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

.header {
    width: 100%;
    background-color: #2d303a;
}

.header__content {
    box-sizing: border-box;
    max-width: 1020px;
    padding: 31px 39px 30px 40px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.header__decoration {
    width: 100%;
    height: 7px;
    background-color: #323746;
}

.header__link {
    text-decoration: none;
}

.header__logo {
    margin: 0;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 1.1;
    font-weight: normal;
    letter-spacing: -0.02em;
    color: #ffffff;
    transition: opacity 0.2s ease-in 0.1s;
}

.header__logo:hover {
    opacity: 0.6;
}

.header__logo_theme_red {
    color: #f06c64;
}

.navigation__list {
    width: 372px;
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navigation__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.navigation__item::before {
    content: '';
    display: block;
    margin-right: 15px;
    border: 1.5px solid #3a3e4d;
    border-radius: 50%;
    background-color: #3a3e4d;
}

.navigation__item:first-child::before {
    content: none;
}

.navigation__link {
    text-decoration: none;
    color: #ffffff;
    transition: opacity 0.2s ease-in 0.1s;
}

.navigation__link_theme_red {
    color: #f06c64;
}

.navigation__link:hover {
    opacity: 0.6;
}

.slider {
    width: 100%;
    background-color: #f06c64;
}

.slider__content {
    box-sizing: border-box;
    max-width: 1020px;
    margin: 0 auto;
    padding: 53px 40px 57px 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider__decoration {
    width: 100%;
    height: 7px;
    background-color: #ea676b;
}

.slider__box {
    box-sizing: border-box;
    width: 100%;
    padding-left: 54px;
    padding-right: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider__chev {
    transition: opacity 0.2s ease-in 0.1s;
}

.slider__chev:hover {
    cursor: pointer;
    opacity: 0.4;
}

.services {
    width: 100%;
    background-color: #f2f2f2;
}

.services__content {
    box-sizing: border-box;
    max-width: 1020px;
    margin: 0 auto;
    padding: 59px 40px 62px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.services__title {
    margin: 0;
    margin-bottom: 15.5px;
    font-size: 29px;
    line-height: 1.38;
    font-weight: 900;
    letter-spacing: 0.01em;
}

.services__subtitle {
    margin: 0;
    margin-bottom: 45px;
    font-size: 17px;
    line-height: 1.8;
    font-weight: 300;
    letter-spacing: 0.025em;
    text-align: justify;
}

.services__decoration {
    width: 100%;
    height: 6px;
    background-color: #ffffff;
}

.advantages {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 299px);
    grid-template-rows: repeat(2, auto);
    column-gap: 21.6px;
    row-gap: 32.5px;
}

.advantages__icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 21px;
}

.advantages__item {
    display: flex;
    align-items: flex-start;
}

.advantages__title {
    margin: 0;
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 0.9;
    font-weight: 700;
    letter-spacing: 0.008em;
}

.advantages__title_topic_support {
    padding-left: -2.5px;
    letter-spacing: 0.003em;
}

.advantages__text {
    margin: 0;
    font-size: 11px;
    line-height: 1.945;
    letter-spacing: 0.035em;
    word-spacing: -0.005em;
    text-align: justify;
}

.advantages__text_topic_services {
    padding-left: 1.5px;
    letter-spacing: 0.03em;
}

.advantages__text_topic_layout {
    padding-left: 1.5px;
    letter-spacing: 0.03em;
}

.portfolio {
    width: 100%;
    background-color: #2d2f39;
    display: flex;
    flex-direction: column;
}

.portfolio__content {
    box-sizing: border-box;
    max-width: 1020px;
    margin: 0 auto;
    padding: 60px 30px 58px;
}

.portfolio__title {
    margin: 0;
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    text-align: start;
    letter-spacing: 0.002em;
}

.portfolio__subtitle {
    margin: 0;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1;
    font-weight: 300;
    text-align: justify;
    letter-spacing: 0.001em;
}

.potfolio__buttons {
    margin: 0;
    margin-bottom: 19px;
    padding-left: 0;
    list-style: none;
    display: flex;
}

.portfolio__item {
    margin-right: 9px;
}

.portfolio__item:last-child {
    margin-right: 0;
}

.portfolio__button {
    box-sizing: border-box;
    margin: 0;
    padding: 4.5px 7.5px;
    border: 1px solid #767e9e;
    border-radius: 5px;
    background-color: unset;
    color: #767e9e;
    font-size: 11px;
    line-height: 1;
    font-weight: normal;
    text-align: center;
    letter-spacing: 0.015em;
    transition: 0.15s ease-in color, 0.15s ease-in border-color;
}

.portfolio__button:hover {
    cursor: pointer;
    color: white;
    border-color: white;
}

.portfolio__button:active {
    color: #767e9e;
    border-color: #767e9e;
}

.portfolio__images {
    overflow-y: scroll;
    width: 100%;
    max-height: 609px;
    margin: 0 auto;
    padding-left: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 220px);
    column-gap: 20px;
    row-gap: 16px;
}

.portfolio__decoration {
    width: 100%;
    height: 6px;
    background-color: #323746;
}

.about-us {
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
}

.about-us__content {
    box-sizing: border-box;
    max-width: 1020px;
    margin: 0 auto;
    padding: 60px 40px 61px;
}

.about-us__title {
    margin: 0;
    margin-bottom: 18px;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    text-align: start;
    letter-spacing: 0.002em;
}

.about-us__subtitle {
    margin: 0;
    margin-bottom: 45px;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 300;
    text-align: justify;
    letter-spacing: 0.0015em;
}

.about-us__gallery {
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: 20px;
    row-gap: 20px;
}

.social {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
}

.social__item {
    margin-left: -2px;
    margin-right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__item:last-child {
    margin-right: 0;
}

.social__link {
    width: 100%;
    display: block;
}

.social__icon {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    transition: 0.15s ease-in opacity;
}

.social__icon:hover {
    cursor: pointer;
    opacity: 0.6;
}

.social__icon:active {
    opacity: 1;
}

.social__icon_google {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.about-us__photo {
    margin: 0;
    margin-bottom: 12px;
}

.about-us__name {
    white-space: nowrap;
    overflow-x: hidden;
    margin: 0;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-align: start;
    letter-spacing: 0.0017em;
    word-spacing: 0.001em;
}

.about-us__info {
    margin: 0;
    margin-bottom: 20px;
    font-size: 11.5px;
    line-height: 1.9;
    font-weight: normal;
    text-align: justify;
    letter-spacing: 0.015em;
}

.about-us__decoration {
    width: 100%;
    height: 7px;
    background-color: #ffffff;
}

.contact-us {
    width: 100%;
    background-color: #f06c64;
    color: #f0d8d9;
}

.contact-us__content {
    box-sizing: border-box;
    max-width: 1020px;
    margin: 0 auto;
    padding: 60px 40px 27px;
    display: flex;
    flex-direction: column;
}

.contact-us__title {
    margin: 0;
    margin-bottom: 18px;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    text-align: start;
    letter-spacing: 0.002em;
}

.contact-us__subtitle {
    margin: 0;
    margin-bottom: 43px;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 300;
    text-align: justify;
    letter-spacing: 0.0017em;
    word-spacing: 0.001em;
}

.form-block {
    width: 100%;
    display: grid;
    grid-template-columns: 620px 300px;
    column-gap: 20px;
    row-gap: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__input {
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 13px 15px;
    background-color: #d6564f;
    color: #f0d8d9;
    border: none;
    border-radius: 5px;
}

.form__input::placeholder {
    color: #ec7e7f;
    font-size: 11.5px;
    line-height: 1;
    font-weight: normal;
    text-align: justify;
    letter-spacing: 0.002em;
    word-spacing: 0.001em;
}

.form__textarea {
    box-sizing: border-box;
    height: 202px;
    margin-bottom: 10px;
    padding: 13px 15px;
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
}

.form__textarea::placeholder {
    color: #ec7e7f;
    font-size: 11.5px;
    line-height: 1;
    font-weight: normal;
    text-align: justify;
    letter-spacing: 0.002em;
}

.form-block__info {
    display: flex;
    flex-direction: column;
}

.form-block__link {
    text-decoration: none;
    color: #efd7d9;
}

.form-block__title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-align: start;
    letter-spacing: 0.002em;
}

.form-block__subtitle {
    margin: 0;
    margin-bottom: 23px;
    font-size: 11px;
    line-height: 2.05;
    font-weight: 300;
    text-align: justify;
    letter-spacing: 0.043em;
    word-spacing: 0.0015em;
}

.form-block__link {
    margin-bottom: 8px;
    font-size: 11px;
    line-height: 1.2;
    font-weight: 300;
    text-align: justify;
    letter-spacing: 0.043em;
    word-spacing: 0.0015em;
    display: flex;
    align-items: flex-start;
    transition: 0.15s ease-in opacity;
}

.form-block__link:hover {
    opacity: 0.6;
}

.form-block__link:active {
    opacity: 1;
}

.form-block__image {
    margin-right: 10px;
}

.form__button {
    box-sizing: border-box;
    width: min-content;
    padding: 5px 8px;
    background-color: #efd7d9;
    border-radius: 5px;
    color: #ec7e7f;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    transition: 0.15s ease-in opacity;
}

.form__button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.form__button:active {
    opacity: 1;
}

.footer {
    width: 100%;
    background-color: #2d2f39;
}

.footer__content {
    box-sizing: border-box;
    max-width: 1020px;
    margin: 0 auto;
    padding: 18px 38px 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-us__decoration {
    width: 100%;
    height: 5px;
    background-color: #ea676b;
}

.copyright {
    font-size: 12px;
    line-height: 1;
    font-weight: 300;
    text-align: justify;
    letter-spacing: 0.001em;
}